In [6]:
print("Hello\nWorld");
print(2+3);
print('2'+'5');

Hello
World
5
25

In [11]:
if 5>3
print{'OK,five is greater than three'}

SyntaxError: invalid syntax (<ipython-input-11-d0713d7e5cd1>, line 1)

In [12]:
print{"fisrt print"}
if 5>4:
    print{'ya, 5>4'}
    print{'masih dalam block yang sama'}

SyntaxError: invalid syntax (<ipython-input-12-ef4216c47722>, line 1)

In [17]:
a=9
b=6.005
print('a before',a)
print('b befire',b)
if b>a:
    b='BMW' #b currently stored a car brand
print ('a after', a)
print('b before', b)

a before 9
b befire 6.005
a after 9
b before 6.005

In [18]:
car1,car2,car3="BMW","Merc","Volvo"
print(car1)
print(car2)
print(car3)

BMW
Merc
Volvo

In [20]:
myName = 'Ahmad'
print{'My name is '+myName'}

SyntaxError: invalid syntax (<ipython-input-20-38156e7f2f5a>, line 2)

In [22]:
firstName = "Nasreen Ilyana"
lastName = "Yahya"
print("My name is " + firstName +" "+ lastName)

My name is Nasreen Ilyana Yahya

In [27]:
tempatLahir="Marang"
def function1():
    global tempatLahir
    tempatLahir="Hospital Besar"
    print(tempatLahir)
    
function1()
print(tempatLahir)

Hospital Besar
Hospital Besar

In [31]:
e=("Wilayah", "Kedah", "Johor")
print(e)
print(type(e))
print(e[1])

('Wilayah', 'Kedah', 'Johor')
<class 'tuple'>
Kedah

In [32]:
e=("wilayah","Kedah","Johor")
print(e)
print(type(e))
e[2]="Republic of Setiu"
print(e)

('wilayah', 'Kedah', 'Johor')
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [34]:
e={"wilayah","kedah","johor"}
print(e)
print(type(e))
e[2]=67
print(e)

{'johor', 'kedah', 'wilayah'}
<class 'set'>

TypeError: 'set' object does not support item assignment

In [35]:
e={"lahir":"wilayah", 'belajar':"kedah", "kerja":"johor"}
print("bekerja di "+e["kerja"])

bekerja di johor

In [36]:
print(1,2,3,4)

1 2 3 4

In [38]:
print(1,2,3,4)
print(1,2,3,4, sep="|", end=".")

1 2 3 4
1|2|3|4.

In [39]:
x=10
y=2020
print('I am {} years old in {}'.format(x,y))

I am 10 years old in 2020

In [41]:
car1,car2=input("What is your first car?"), input("What ia your dream car?")
print("Based on your input {}, your dream will come true to have {}".format(car1,car2))

What is your first car?bezza
What ia your dream car?honda
Based on your input bezza, your dream will come true to have honda